/* line 5, ../scss/style.scss */
.jumbotron {
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 28px;
}

/* line 13, ../scss/style.scss */
.source-container ul {
  list-style: none;
}

/* line 19, ../scss/style.scss */
.item-group-items {
  border-top: 1px solid #d0d0d0;
}
/* line 22, ../scss/style.scss */
.item-group-items:first-child {
  border-top: 0;
}

/* line 27, ../scss/style.scss */
.col-md-2, .col-md-10 {
  margin-top: 20px;
}

/* line 31, ../scss/style.scss */
.level-0 .col-md-2 {
  padding-left: 0;
}

/* line 35, ../scss/style.scss */
.level-0 .col-md-10 {
  border-left: 1px solid #d0d0d0;
  padding-right: 0;
}

/* line 42, ../scss/style.scss */
.item-properties > li {
  border-top: 1px dotted #d0d0d0;
  padding: 5px 0;
}
/* line 45, ../scss/style.scss */
.item-properties > li:first-child {
  border-top: 0;
  padding-top: 0;
}
/* line 51, ../scss/style.scss */
.item-properties.level-0 {
  padding: 0;
}
/* line 56, ../scss/style.scss */
.item-properties.level-0 > li, .item-properties.level-1 > li {
  padding: 10px 0;
}
/* line 58, ../scss/style.scss */
.item-properties.level-0 > li:first-child, .item-properties.level-1 > li:first-child {
  padding-top: 5px;
}

/* line 66, ../scss/style.scss */
.item-property-group-name,
ul.level-0 > li.item-property-group-name {
  text-transform: uppercase;
  padding: 5px 15px;
  margin-left: -15px;
  border-bottom: 1px solid #d0d0d0;
}

/* line 78, ../scss/style.scss */
.item-header h1, .item-header h2, .item-header h3, .item-header h4, .item-header h5, .item-header h6 {
  font-size: 0;
}
/* line 82, ../scss/style.scss */
.item-header h1 span {
  font-size: 36px;
}
/* line 85, ../scss/style.scss */
.item-header h1 small {
  font-size: 28px;
}
/* line 89, ../scss/style.scss */
.item-header h2 span {
  font-size: 32px;
}
/* line 92, ../scss/style.scss */
.item-header h2 small {
  font-size: 24px;
}
/* line 96, ../scss/style.scss */
.item-header h3 span {
  font-size: 28px;
}
/* line 99, ../scss/style.scss */
.item-header h3 small {
  font-size: 20px;
}
/* line 103, ../scss/style.scss */
.item-header h4 span {
  font-size: 24px;
}
/* line 106, ../scss/style.scss */
.item-header h4 small {
  font-size: 16px;
}
/* line 110, ../scss/style.scss */
.item-header h5 span {
  font-size: 20px;
}
/* line 113, ../scss/style.scss */
.item-header h5 small {
  font-size: 12px;
}
/* line 117, ../scss/style.scss */
.item-header h6 span {
  font-size: 16px;
}
/* line 120, ../scss/style.scss */
.item-header h6 small {
  font-size: 8px;
}
/* line 124, ../scss/style.scss */
.item-header .item-name-returns {
  color: #999;
  font-weight: normal;
}
/* line 128, ../scss/style.scss */
.item-header .item-name-return-descr {
  color: #999;
  font-weight: normal;
}
/* line 132, ../scss/style.scss */
.item-header .item-type {
  color: #999;
  font-weight: normal;
}

/* line 138, ../scss/style.scss */
.item-nav {
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 143, ../scss/style.scss */
.item-nav a {
  font-size: 0;
  white-space: nowrap;
}
/* line 147, ../scss/style.scss */
.item-nav a span {
  font-size: 14px;
}

/* line 153, ../scss/style.scss */
.item-flags {
  padding: 0;
  margin: 0;
}

/* line 158, ../scss/style.scss */
.item-flags + .item-description {
  margin-top: 10px;
}
